@charset 'utf-8';
@import './defaultcolor.scss';

@function define-color($name) {
  $ca: map-get($default-colors, $name);
  $c: map-get($ca, 'color');
  $a: map-get($ca, 'alpha');
  @return rgba(var(--#{$name}, #{$c}), var(--#{$name}-a, #{$a}));
}

@function define-color-value($name) {
  $v: map-get($default-colors, $name);
  @return var(--#{$name}, #{$v});
}

@mixin color-template($colors) {
  :root {
    @each $name, $value in $colors {
      @if type-of($value) == 'map' {
        --#{$name}: #{map-get($value, 'color')};
        --#{$name}-a: #{map-get($value, 'alpha')};
      } @else {
        --#{$name}: #{$value};
      }
    }
  }
}
