@charset 'utf-8';
@import './default_theme.scss';

@function define-theme-color($name) {
  $ca: map-get($default-colors, $name);
  $c: map-get($ca, 'color');
  $a: map-get($ca, 'alpha');
  @return rgba(var(--#{$name}, #{$c}), var(--#{$name}-a, #{$a}));
}

@function define-theme-value($name) {
  $v: map-get($default-colors, $name);
  @return var(--#{$name}, #{$v});
}

@mixin theme-template($theme, $schema: 'default') {
  :root[data-style-theme='#{$schema}'] {
    @each $name, $value in $theme {
      @if type-of($value) == 'map' {
        --#{$name}: #{map-get($value, 'color')};
        --#{$name}-a: #{map-get($value, 'alpha')};
      } @else {
        --#{$name}: #{$value};
      }
    }
  }
}
