@charset "UTF-8";
div.carotin_novel {
  position: relative;
  overflow: hidden;
}
div.carotin_novel .align_right {
  text-align: right;
}
div.carotin_novel div.content_wrapper {
  position: relative;
  z-index: 2;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  overflow-x: scroll;
  overflow-y: hidden;
  color: rgba(var(--carotinnovel--text-base, 0, 0, 0), var(--carotinnovel--text-base-a, 1));
  -webkit-writing-mode: vertical-rl;
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
  font-feature-settings: "pkna";
  -webkit-mask-image: linear-gradient(to left, black calc(100% - 3em), transparent 100%);
  mask-image: linear-gradient(to left, black calc(100% - 3em), transparent 100%);
}
div.carotin_novel div.content_wrapper cite,
div.carotin_novel div.content_wrapper address {
  font-style: normal;
}
div.carotin_novel div.content_wrapper a {
  color: rgba(var(--carotinnovel--link-base, 0, 102, 203), var(--carotinnovel--link-base-a, 1));
  text-decoration: var(--carotinnovel--link-base-decoration, none);
}
div.carotin_novel div.content_wrapper a:hover {
  color: rgba(var(--carotinnovel--link-hover, 0, 102, 203), var(--carotinnovel--link-hover-a, 1));
  text-decoration: var(--carotinnovel--link-hover-decoration, underline);
}
div.carotin_novel div.content_wrapper a:active {
  color: rgba(var(--carotinnovel--link-active, 0, 102, 203), var(--carotinnovel--link-active-a, 1));
  text-decoration: var(--carotinnovel--link-active-decoration, underline);
}
div.carotin_novel div.content_wrapper a:visited {
  color: rgba(var(--carotinnovel--link-visited, 129, 0, 0), var(--carotinnovel--link-visited-a, 1));
}
div.carotin_novel div.content_wrapper h2 {
  margin: 0;
  margin-left: 1.75rem;
  font-size: 1.25em;
  font-weight: 100;
  text-indent: 1em;
}
div.carotin_novel div.content_wrapper h2:first-child {
  margin-right: 0.25rem;
}
div.carotin_novel div.content_wrapper ruby {
  text-align: start;
  ruby-align: distribute-space;
  ruby-align: space-around;
}
div.carotin_novel div.content_wrapper ruby rt {
  text-align: inherit;
}
div.carotin_novel div.content_wrapper header {
  box-sizing: border-box;
  height: 100%;
  padding: 0;
  margin: 0;
  margin-left: 2.5rem;
  text-align: right;
}
div.carotin_novel div.content_wrapper header > h1:first-child {
  box-sizing: border-box;
  padding: 2em 0;
  margin: 0;
  font-size: 2em;
  font-weight: 100;
  text-align: left;
}
div.carotin_novel div.content_wrapper header p.author {
  box-sizing: border-box;
  padding: 0;
  padding-bottom: 0.8em;
  margin: 0;
  margin-right: 1rem;
  font-size: 1.25em;
}
div.carotin_novel div.content_wrapper header p.author :first-child {
  margin-right: 0;
}
div.carotin_novel div.content_wrapper footer {
  box-sizing: border-box;
  height: 100%;
  padding: 0;
  margin: 0;
  margin-right: 2.5rem;
  text-align: right;
}
div.carotin_novel div.content_wrapper footer:first-child {
  margin-right: 0;
}
div.carotin_novel div.content_wrapper section {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
div.carotin_novel div.content_wrapper section.full {
  height: 100%;
}
div.carotin_novel div.content_wrapper section.align_right {
  height: 100%;
  text-align: right;
}
div.carotin_novel div.content_wrapper div.page {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 100%;
  padding: 3vh 3em 4vh 3em;
  margin: 0;
}
div.carotin_novel div.content_wrapper p {
  margin: 0;
}
div.carotin_novel div.content_wrapper p.fullspace-indent {
  text-indent: 1em;
}
div.carotin_novel div.content_wrapper section {
  margin: 0;
  margin-left: 1.5rem;
}
div.carotin_novel div.content_wrapper section:last-child {
  margin-left: 0;
}
div.carotin_novel div.content_wrapper section + footer {
  margin-right: 1rem;
}
div.carotin_novel.custom_ruby div.content_wrapper ruby rt {
  display: none;
}
div.carotin_novel.custom_ruby div.content_wrapper ruby rb[data-ruby] {
  position: relative;
}
div.carotin_novel.custom_ruby div.content_wrapper ruby rb[data-ruby]::before {
  position: absolute;
  min-height: 100%;
  text-align: center;
  white-space: nowrap;
  content: attr(data-ruby);
  font-feature-settings: normal;
}
div.carotin_novel div.bg_wrapper {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
  pointer-events: none;
  background-color: rgba(var(--carotinnovel--background-base, 255, 255, 255), var(--carotinnovel--background-base-a, 1));
}
div.carotin_novel div.fg_wrapper {
  position: absolute;
  z-index: 40;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
  pointer-events: none;
}
@keyframes fadeIn {
  0% {
    visibility: hidden;
    opacity: 0;
  }
  1% {
    visibility: visible;
  }
  100% {
    visibility: visible;
    opacity: 1;
  }
}
@keyframes fadeOut {
  0% {
    visibility: visible;
    opacity: 1;
  }
  100% {
    visibility: hidden;
    opacity: 0;
  }
}
div.carotin_novel div.fg_wrapper div.loader {
  top: 0;
  left: 0;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  background-color: rgba(var(--carotinnovel--background-base, 255, 255, 255), var(--carotinnovel--background-base-a, 1));
}
div.carotin_novel div.fg_wrapper div.loader > svg {
  width: 50px;
  height: 50px;
  stroke: rgba(var(--carotinnovel--loader-primary, 200, 200, 200), var(--carotinnovel--loader-primary-a, 1));
}
div.carotin_novel div.fg_wrapper div.loader.off {
  animation-name: fadeOut;
  animation-duration: 700ms;
  animation-play-state: running;
  animation-timing-function: linear;
  animation-delay: 0ms;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: both;
}
div.carotin_novel div.menu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  margin-left: 100vw;
  overflow: visible;
  transition-timing-function: cubic-bezier(0, 0, 0.4, 1);
  transition-duration: 700ms;
}
@media screen and (min-width: 640px) {
  div.carotin_novel div.menu {
    height: 100vh;
  }
}
div.carotin_novel div.menu.on {
  margin-left: 0;
}
div.carotin_novel div.menu div.menu-back {
  position: absolute;
  box-sizing: border-box;
  display: block;
  width: calc(100% + 6px);
  height: 100%;
  margin-left: -6px;
  background-color: #fafafa;
  filter: drop-shadow(0 0 4px rgba(150, 150, 150, 0.2)) drop-shadow(0 0 1px rgba(150, 150, 150, 0.8));
  border-radius: 6px 0 0 6px;
  opacity: 0.9;
}
div.carotin_novel div.menu div.menu-back div.menu-slide {
  position: absolute;
  top: calc((100% - 80px) / 2);
  bottom: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 80px;
  height: 80px;
  margin-left: -25px;
  background-color: #fafafa;
  border-radius: 40px;
}
div.carotin_novel div.menu div.menu-back div.menu-slide i {
  margin-left: 12.5px;
  font-size: 1.5em;
  line-height: 1em;
  opacity: 0.25;
}
div.carotin_novel div.menu div.menu-back.bottom div.menu-slide {
  top: auto;
  bottom: 2em;
}
div.carotin_novel div.menu div.menu-back.top div.menu-slide {
  top: 2em;
  bottom: auto;
}
div.carotin_novel div.menu div.menu-content-wrapper {
  position: absolute;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 1em;
  overflow: auto;
  font-family: "Noto Serif JP", "Yu Mincho", YuMincho, "Hiragino Mincho ProN", "Hiragino Mincho Pro", "HGP明朝B", serif;
}
div.carotin_novel div.menu div.menu-content-wrapper div.menu-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
div.carotin_novel div.menu div.menu-content-wrapper div.menu-content h2 {
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 0;
  margin: 0;
  margin-bottom: 1rem;
  font-size: 1.1rem;
  font-weight: 400;
  text-decoration: none;
}
div.carotin_novel div.menu div.menu-content-wrapper div.menu-content h2 span.title {
  flex-grow: 0;
  padding: 0 0.3em;
  text-align: center;
}
div.carotin_novel div.menu div.menu-content-wrapper div.menu-content h2 span.line {
  box-sizing: border-box;
  flex-grow: 1;
  height: 1px;
  padding: 0;
  margin: 0;
  margin-top: 2px;
}
div.carotin_novel div.menu div.menu-content-wrapper div.menu-content h2 span.line:first-child {
  background: linear-gradient(to right, transparent, rgba(0, 0, 0, 0.5));
}
div.carotin_novel div.menu div.menu-content-wrapper div.menu-content h2 span.line:last-child {
  background: linear-gradient(to left, transparent, rgba(0, 0, 0, 0.5));
}
div.carotin_novel div.menu div.menu-content-wrapper div.menu-content ul {
  padding: 0;
  margin: 0;
  font-size: 1.5em;
  list-style-type: none;
}
div.carotin_novel div.menu div.menu-content-wrapper div.menu-content ul li {
  padding: 0;
  margin: 0;
  margin-top: 0.5em;
  overflow: hidden;
  touch-action: manipulation;
  cursor: pointer;
  border: solid 1px rgba(0, 0, 0, 0.5);
  border-radius: 2px;
}
div.carotin_novel div.menu div.menu-content-wrapper div.menu-content ul li:first-child {
  margin-top: 0;
}
div.carotin_novel div.menu div.menu-content-wrapper div.menu-content ul li a.button {
  position: relative;
  z-index: 10;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0 1rem;
  overflow: hidden;
  user-select: none;
  transform: translate3d(0, 0, 0);
}
div.carotin_novel div.menu div.menu-content-wrapper div.menu-content ul li a.button i {
  padding: 0;
  margin: 0;
  margin-right: 0.75rem;
  font-size: 1.25em;
}
div.carotin_novel div.menu div.menu-content-wrapper div.menu-content ul li a.button span {
  display: inline-block;
  flex-grow: 1;
  padding: 0;
  margin: 0;
  text-align: center;
}
div.carotin_novel div.menu div.menu-content-wrapper div.menu-content ul li a.button::after {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  pointer-events: none;
  content: "";
  background-image: radial-gradient(circle, #000 10%, transparent 10.01%);
  background-repeat: no-repeat;
  background-position: 50%;
  opacity: 0;
  transition: transform 0.5s, opacity 1s;
  transform: scale(10, 10);
}
div.carotin_novel div.menu div.menu-content-wrapper div.menu-content ul li a.button:active::after {
  opacity: 0.2;
  transition: 0s;
  transform: scale(0, 0);
}
div.carotin_novel div.menu div.menu-content-wrapper div.menu-top {
  margin-bottom: 1rem;
}
:root[data-slide-pad-size=middle] {
  --carotinnovel--slide-pad-size: 45px;
}

:root[data-slide-pad-size=large] {
  --carotinnovel--slide-pad-size: 60px;
}

:root[data-slide-pad-size=small] {
  --carotinnovel--slide-pad-size: 30px;
}

:root {
  --carotinnovel--slide-pad-position-top: auto;
  --carotinnovel--slide-pad-position-right: 3em;
  --carotinnovel--slide-pad-position-bottom: 2em;
  --carotinnovel--slide-pad-position-left: auto;
}

div.carotin_novel div.slidepad {
  position: fixed;
  top: var(--carotinnovel--slide-pad-position-top, auto);
  right: var(--carotinnovel--slide-pad-position-right, 3em);
  bottom: var(--carotinnovel--slide-pad-position-bottom, 2em);
  left: var(--carotinnovel--slide-pad-position-left, auto);
  z-index: 10;
  box-sizing: border-box;
  width: var(--carotinnovel--slide-pad-size, 45px);
  height: calc(var(--carotinnovel--slide-pad-size, 45px) * 3);
  padding: 0;
  margin: 0;
  overflow: hidden;
  background-color: rgba(var(--carotinnovel--slidepad-back, 192, 192, 192), var(--carotinnovel--slidepad-back-a, 0.25));
  border-radius: calc( var(--carotinnovel--slide-pad-size, 45px) / 2 );
  box-shadow: inset 0 0 2px 0 rgba(var(--carotinnovel--slidepad-back-shadow, 192, 192, 192), var(--carotinnovel--slidepad-back-shadow-a, 0.75));
  opacity: var(--carotinnovel--slidepad-opacity, 0.6);
  writing-mode: horizontal-tb;
  font-feature-settings: normal;
}
div.carotin_novel div.slidepad.hidden {
  opacity: 0 !important;
}
div.carotin_novel div.slidepad div.nipple div.back {
  background-color: transparent !important;
}
div.carotin_novel div.slidepad div.nipple div.front {
  background-color: rgba(var(--carotinnovel--slidepad-front, 255, 255, 255), var(--carotinnovel--slidepad-front-a, 1)) !important;
  box-shadow: 0 0 2px 0 rgba(var(--carotinnovel--slidepad-front-shadow, 128, 128, 128), var(--carotinnovel--slidepad-front-shadow-a, 0.75));
  opacity: 0.8 !important;
}

:root[data-style-theme=default] {
  --carotinnovel--background-base:255, 255, 255;
  --carotinnovel--background-base-a:1;
  --carotinnovel--text-base:0, 0, 0;
  --carotinnovel--text-base-a:1;
  --carotinnovel--link-base:0, 102, 203;
  --carotinnovel--link-base-a:1;
  --carotinnovel--link-base-decoration:none;
  --carotinnovel--link-hover:0, 102, 203;
  --carotinnovel--link-hover-a:1;
  --carotinnovel--link-hover-decoration:underline;
  --carotinnovel--link-active:0, 102, 203;
  --carotinnovel--link-active-a:1;
  --carotinnovel--link-active-decoration:underline;
  --carotinnovel--link-visited:129, 0, 0;
  --carotinnovel--link-visited-a:1;
  --carotinnovel--slidepad-opacity:0.6;
  --carotinnovel--slidepad-back:192, 192, 192;
  --carotinnovel--slidepad-back-a:0.25;
  --carotinnovel--slidepad-front:255, 255, 255;
  --carotinnovel--slidepad-front-a:1;
  --carotinnovel--slidepad-back-shadow:192, 192, 192;
  --carotinnovel--slidepad-back-shadow-a:0.75;
  --carotinnovel--slidepad-front-shadow:128, 128, 128;
  --carotinnovel--slidepad-front-shadow-a:0.75;
  --carotinnovel--loader-primary:200, 200, 200;
  --carotinnovel--loader-primary-a:1;
}

:root[data-style-theme=brown] {
  --carotinnovel--background-base:217, 211, 193;
  --carotinnovel--background-base-a:1;
  --carotinnovel--text-base:64, 42, 30;
  --carotinnovel--text-base-a:1;
  --carotinnovel--link-base:160, 54, 54;
  --carotinnovel--link-base-a:1;
  --carotinnovel--link-base-decoration:none;
  --carotinnovel--link-hover:160, 54, 54;
  --carotinnovel--link-hover-a:1;
  --carotinnovel--link-hover-decoration:underline;
  --carotinnovel--link-active:160, 54, 54;
  --carotinnovel--link-active-a:1;
  --carotinnovel--link-active-decoration:underline;
  --carotinnovel--link-visited:114, 39, 39;
  --carotinnovel--link-visited-a:1;
  --carotinnovel--slidepad-opacity:0.95;
  --carotinnovel--slidepad-back:191, 176, 147;
  --carotinnovel--slidepad-back-a:0.25;
  --carotinnovel--slidepad-front:238, 235, 235;
  --carotinnovel--slidepad-front-a:1;
  --carotinnovel--slidepad-back-shadow:115, 86, 50;
  --carotinnovel--slidepad-back-shadow-a:0.3;
  --carotinnovel--slidepad-front-shadow:115, 86, 50;
  --carotinnovel--slidepad-front-shadow-a:0.75;
  --carotinnovel--loader-primary:108, 91, 91;
  --carotinnovel--loader-primary-a:1;
}
