body {
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.align_right {
  text-align: right;
}

div.bg_wrapper {
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  background-color: rgba(var(--background-base, 255, 255, 255), var(--background-base-a, 1));
}

div.content_wrapper {
  position: relative;
  z-index: 2;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  overflow-x: scroll;
  overflow-y: hidden;
  color: rgba(var(--text-base, 0, 0, 0), var(--text-base-a, 1));
  -webkit-writing-mode: vertical-rl;
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
  font-feature-settings: "pkna";
}
@media screen and (min-width: 640px) {
  div.content_wrapper {
    height: 100vh;
  }
}
div.content_wrapper cite,
div.content_wrapper address {
  font-style: normal;
}
div.content_wrapper a {
  color: rgba(var(--link-base, 0, 102, 203), var(--link-base-a, 1));
  text-decoration: var(--link-base-decoration, none);
}
div.content_wrapper a:hover {
  color: rgba(var(--link-hover, 0, 102, 203), var(--link-hover-a, 1));
  text-decoration: var(--link-hover-decoration, underline);
}
div.content_wrapper a:active {
  color: rgba(var(--link-active, 0, 102, 203), var(--link-active-a, 1));
  text-decoration: var(--link-active-decoration, underline);
}
div.content_wrapper a:visited {
  color: rgba(var(--link-visited, 129, 0, 0), var(--link-visited-a, 1));
}
div.content_wrapper h2 {
  margin: 0;
  margin-left: 1.75rem;
  font-size: 1.25em;
  font-weight: 100;
  text-indent: 1em;
}
div.content_wrapper h2:first-child {
  margin-right: 0.25rem;
}
div.content_wrapper ruby {
  text-align: start;
  ruby-align: distribute-space;
  ruby-align: space-around;
}
div.content_wrapper ruby rt {
  text-align: inherit;
}
@keyframes fadeIn {
  0% {
    visibility: hidden;
    opacity: 0;
  }
  1% {
    visibility: visible;
  }
  100% {
    visibility: visible;
    opacity: 1;
  }
}
@keyframes fadeOut {
  0% {
    visibility: visible;
    opacity: 1;
  }
  100% {
    visibility: hidden;
    opacity: 0;
  }
}
div.content_wrapper div.loader {
  position: fixed;
  top: 0;
  left: 0;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  background-color: rgba(var(--background-base, 255, 255, 255), var(--background-base-a, 1));
}
div.content_wrapper div.loader > svg {
  width: 50px;
  height: 50px;
  stroke: rgba(var(--loader-primary, 200, 200, 200), var(--loader-primary-a, 1));
}
div.content_wrapper div.loader.off {
  animation-name: fadeOut;
  animation-duration: 700ms;
  animation-play-state: running;
  animation-timing-function: linear;
  animation-delay: 0ms;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: both;
}
div.content_wrapper div.shadow {
  position: fixed;
  top: 2.5vh;
  left: 0;
  width: 3.5em;
  height: 96%;
  padding: 0;
  margin: 0;
  overflow: hidden;
  background: linear-gradient(90deg, rgba(var(--background-base, 255, 255, 255), var(--background-base-a, 1)), transparent);
}
@media screen and (min-width: 640px) {
  div.content_wrapper div.shadow {
    height: 96vh;
  }
}
:root[data-slide-pad-size=middle] {
  --slide-pad-size: 45px;
}

:root[data-slide-pad-size=large] {
  --slide-pad-size: 60px;
}

:root[data-slide-pad-size=small] {
  --slide-pad-size: 30px;
}

:root {
  --slide-pad-position-top: auto;
  --slide-pad-position-right: 3em;
  --slide-pad-position-bottom: 2em;
  --slide-pad-position-left: auto;
}

div.content_wrapper div.slidepad {
  position: fixed;
  top: var(--slide-pad-position-top, auto);
  right: var(--slide-pad-position-right, 3em);
  bottom: var(--slide-pad-position-bottom, 2em);
  left: var(--slide-pad-position-left, auto);
  box-sizing: border-box;
  width: var(--slide-pad-size, 45px);
  height: calc(var(--slide-pad-size, 45px) * 3);
  padding: 0;
  margin: 0;
  overflow: hidden;
  background-color: rgba(var(--slidepad-back, 192, 192, 192), var(--slidepad-back-a, 0.25));
  border-radius: calc(var(--slide-pad-size, 45px) / 2);
  box-shadow: inset 0 0 2px 0 rgba(var(--slidepad-back-shadow, 192, 192, 192), var(--slidepad-back-shadow-a, 0.75));
  opacity: var(--slidepad-opacity, 0.6);
  writing-mode: horizontal-tb;
  font-feature-settings: normal;
}
div.content_wrapper div.slidepad.hidden {
  opacity: 0 !important;
}
div.content_wrapper div.slidepad div.nipple div.back {
  background-color: transparent !important;
}
div.content_wrapper div.slidepad div.nipple div.front {
  background-color: rgba(var(--slidepad-front, 255, 255, 255), var(--slidepad-front-a, 1)) !important;
  box-shadow: 0 0 2px 0 rgba(var(--slidepad-front-shadow, 128, 128, 128), var(--slidepad-front-shadow-a, 0.75));
  opacity: 0.8 !important;
}
div.content_wrapper header {
  box-sizing: border-box;
  height: 100%;
  padding: 0;
  margin: 0;
  margin-left: 2.5rem;
  text-align: right;
}
div.content_wrapper header > h1:first-child {
  box-sizing: border-box;
  padding: 2em 0;
  margin: 0;
  font-size: 2em;
  font-weight: 100;
  text-align: left;
}
div.content_wrapper header p.author {
  box-sizing: border-box;
  padding: 0;
  padding-bottom: 0.8em;
  margin: 0;
  margin-right: 1rem;
  font-size: 1.25em;
}
div.content_wrapper header p.author :first-child {
  margin-right: 0;
}
div.content_wrapper footer {
  box-sizing: border-box;
  height: 100%;
  padding: 0;
  margin: 0;
  margin-right: 2.5rem;
  text-align: right;
}
div.content_wrapper footer:first-child {
  margin-right: 0;
}
div.content_wrapper section {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
div.content_wrapper section.full {
  height: 100%;
}
div.content_wrapper section.align_right {
  height: 100%;
  text-align: right;
}
div.content_wrapper div.pages_wrapper {
  padding: 0;
  margin: 0;
}
div.content_wrapper div.pages_wrapper div.page {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 100%;
  padding: 3vh 3em 4vh 3em;
  margin: 0;
}
div.content_wrapper p {
  margin: 0;
}
div.content_wrapper p.fullspace-indent {
  text-indent: 1em;
}
div.content_wrapper section {
  margin: 0;
  margin-left: 1.5rem;
}
div.content_wrapper section:last-child {
  margin-left: 0;
}
div.content_wrapper section + footer {
  margin-right: 1rem;
}

.custom_ruby div.content_wrapper ruby rt {
  display: none;
}
.custom_ruby div.content_wrapper ruby rb[data-ruby] {
  position: relative;
}
.custom_ruby div.content_wrapper ruby rb[data-ruby]::before {
  position: absolute;
  min-height: 100%;
  text-align: center;
  white-space: nowrap;
  content: attr(data-ruby);
  font-feature-settings: normal;
}

:root[data-style-theme=default] {
  --background-base: 255, 255, 255;
  --background-base-a: 1;
  --text-base: 0, 0, 0;
  --text-base-a: 1;
  --link-base: 0, 102, 203;
  --link-base-a: 1;
  --link-base-decoration: none;
  --link-hover: 0, 102, 203;
  --link-hover-a: 1;
  --link-hover-decoration: underline;
  --link-active: 0, 102, 203;
  --link-active-a: 1;
  --link-active-decoration: underline;
  --link-visited: 129, 0, 0;
  --link-visited-a: 1;
  --slidepad-opacity: 0.6;
  --slidepad-back: 192, 192, 192;
  --slidepad-back-a: 0.25;
  --slidepad-front: 255, 255, 255;
  --slidepad-front-a: 1;
  --slidepad-back-shadow: 192, 192, 192;
  --slidepad-back-shadow-a: 0.75;
  --slidepad-front-shadow: 128, 128, 128;
  --slidepad-front-shadow-a: 0.75;
  --loader-primary: 200, 200, 200;
  --loader-primary-a: 1;
}

:root[data-style-theme=brown] {
  --background-base: 217, 211, 193;
  --background-base-a: 1;
  --text-base: 64, 42, 30;
  --text-base-a: 1;
  --link-base: 160, 54, 54;
  --link-base-a: 1;
  --link-base-decoration: none;
  --link-hover: 160, 54, 54;
  --link-hover-a: 1;
  --link-hover-decoration: underline;
  --link-active: 160, 54, 54;
  --link-active-a: 1;
  --link-active-decoration: underline;
  --link-visited: 114, 39, 39;
  --link-visited-a: 1;
  --slidepad-opacity: 0.95;
  --slidepad-back: 191, 176, 147;
  --slidepad-back-a: 0.25;
  --slidepad-front: 238, 235, 235;
  --slidepad-front-a: 1;
  --slidepad-back-shadow: 115, 86, 50;
  --slidepad-back-shadow-a: 0.3;
  --slidepad-front-shadow: 115, 86, 50;
  --slidepad-front-shadow-a: 0.75;
  --loader-primary: 108, 91, 91;
  --loader-primary-a: 1;
}
