@charset "UTF-8";
/*
# GenEiKoburiMin6-R-sub.woffについて

[「源暎こぶり明朝」](http://okoneya.jp/font/)のサブセットです。

[SIL Open Font License 1.1](http://osdn.jp/projects/opensource/wiki/SIL_Open_Font_License_1.1)に基づき、改変（文字数の削減）しています。

改変内容： JIS第一水準漢字と一部の漢字、ひらがな、カタカナ、数字や記号等、よく使用される文字以外を削除しています。
*/
@font-face {
  font-family: "GenEiKoburiMin6-R-sub";
  src: url("./GenEiKoburiMin6-R-sub.woff2") format("woff2");
}
:root[data-style-font=GenEiKoburiMin6Rsub] {
  --carotinnovel--font-family: "GenEiKoburiMin6-R-sub", "游明朝体", YuMincho, "游明朝", "Yu Mincho", "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN W3", HiraMinProN-W3, "ヒラギノ明朝 ProN", "Hiragino Mincho ProN", "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "HGS明朝E", "ＭＳ Ｐ明朝", "MS PMincho", Georgia, Times, "Times New Roman", serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --carotinnovel--font-name: "サブセットこぶり明朝";
  --carotinnovel--font-description: "源暎こぶり明朝のサブセット";
  --carotinnovel--font-size-small-device:16px;
  --carotinnovel--font-size-large-device:18px;
  --carotinnovel--font-line-height:1.5;
  --carotinnovel--font-letter-spacing:0.02em;
  --carotinnovel--font-custom-ruby-size:0.4em;
  --carotinnovel--font-custom-ruby-margin-right:-0.8em;
}
