@charset "UTF-8";
@font-face {
  font-family: "WebSubsetKoburi";
  src: url("./WebSubsetKoburi.ttf") format("truetype");
}
div.carotin_novel div.content_wrapper {
  font-family: "WebSubsetKoburi", "Yu Mincho", YuMincho, "Hiragino Mincho ProN", "Hiragino Mincho Pro", "HGP明朝B", serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
@media screen and (min-width: 640px) {
  div.carotin_novel div.content_wrapper {
    font-size: 18px;
  }
}
div.carotin_novel.custom_ruby div.content_wrapper rb[data-ruby]::before {
  margin-right: -0.8em;
  font-size: 0.4em;
}
