@charset 'utf-8';

ruby {
  rt {
    display: none;
  }
  rb[data-ruby] {
    position: relative;
    &::before {
      content: attr(data-ruby);
      white-space: nowrap;
      position: absolute;
      min-height: 100%;
      text-align: center;
      font-feature-settings: normal;
    }
  }
}

