@charset 'utf-8';

ruby {
  rt {
    display: none;
  }

  rb[data-ruby] {
    position: relative;

    &::before {
      position: absolute;
      min-height: 100%;
      margin-right: $font-custom-ruby-margin-right;
      font-size: $font-custom-ruby-size;
      text-align: center;
      white-space: nowrap;
      content: attr(data-ruby);
      font-feature-settings: normal;
    }
  }
}
