@charset 'utf-8';

footer {
  box-sizing: border-box;
  height: 100%;
  padding: 0;
  margin: 0;
  margin-right: $margin-header-footer;
  text-align: right;

  &:first-child {
    margin-right: 0;
  }
}
