@charset 'utf-8';

div.pages_wrapper {
  padding: 0;
  margin: 0;

  div.page {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 100vw;
    padding: $page-margin-top $page-margin-right $page-margin-bottom
      $page-margin-left;
    margin: 0;
  }
}
