@charset 'utf-8';

div.shadow {
  position: fixed;
  top: 2.5vh;
  left: 0;
  width: 3.5em;
  height: 96%;
  padding: 0;
  margin: 0;
  overflow: hidden;
  background: linear-gradient(90deg, $background-base-color, transparent);
  // Larger devices
  @include mq() {
    height: 96vh;
  }
}
