@charset 'utf-8';

$slidepad_size: 45px;
$slidepad_size_large: 60px;
$slidepad_size_small: 30px;

@at-root {
  :root[data-slide-pad-size='middle'] {
    --slide-pad-size: #{$slidepad_size};
  }

  :root[data-slide-pad-size='large'] {
    --slide-pad-size: #{$slidepad_size_large};
  }

  :root[data-slide-pad-size='small'] {
    --slide-pad-size: #{$slidepad_size_small};
  }
}

div.slidepad {
  position: fixed;
  right: 3em;
  bottom: 2em;
  box-sizing: border-box;
  width: var(--slide-pad-size, #{$slidepad_size});
  height: calc(var(--slide-pad-size, #{$slidepad_size}) * 3);
  padding: 0;
  margin: 0;
  overflow: hidden;
  background-color: $slidepad-back-color;
  border-radius: calc(var(--slide-pad-size, #{$slidepad_size}) / 2);
  box-shadow: inset 0 0 2px 0 $slidepad-back-shadow-color;
  opacity: $slidepad-opacity;
  writing-mode: horizontal-tb;
  font-feature-settings: normal;

  &.hidden {
    opacity: 0 !important;
  }

  div.nipple {
    div.back {
      background-color: transparent !important;
    }

    div.front {
      background-color: $slidepad-front-color !important;
      box-shadow: 0 0 2px 0 $slidepad-front-shadow-color;
      opacity: 0.8 !important;
    }
  }
}
