@charset 'utf-8';

$slidepad_size: 45px;

div.slidepad {
  position: fixed;
  right: 3em;
  bottom: 2em;
  box-sizing: border-box;
  width: $slidepad_size;
  height: $slidepad_size * 3;
  padding: 0;
  margin: 0;
  overflow: hidden;
  background-color: $slidepad-back-color;
  border-radius: $slidepad_size / 2;
  box-shadow: inset 0 0 2px 0 $slidepad-back-shadow-color;
  opacity: $slidepad-opacity;
  writing-mode: horizontal-tb;
  font-feature-settings: normal;

  div.nipple {
    div.back {
      background-color: transparent !important;
    }

    div.front {
      background-color: $slidepad-front-color !important;
      box-shadow: 0 0 2px 0 $slidepad-front-shadow-color;
      opacity: 0.8 !important;
    }
  }
}
