@charset "UTF-8";
@font-face {
  font-family: "WebSubsetKoburi";
  src: url("./WebSubsetKoburi.ttf") format("truetype");
}
div.content_wrapper {
  font-family: "WebSubsetKoburi", "Yu Mincho", YuMincho, "Hiragino Mincho ProN", "Hiragino Mincho Pro", "HGP明朝B", serif;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-size: 16px;
}
@media screen and (min-width: 640px) {
  div.content_wrapper {
    font-size: 18px;
  }
}

.custom_ruby div.content_wrapper rb[data-ruby]::before {
  font-size: 0.4em;
  margin-right: -0.8em;
}
