@charset 'utf-8';
@import '../mixin/theme.scss';

$colors: (
  background-base: (
    color: '217, 211, 193',
    alpha: 1
  ),
  background-overlay-shadow: (
    color: '217, 211, 193',
    alpha: 0.95
  ),
  text-base: (
    color: '64, 42, 30',
    alpha: 1
  ),
  link-base: (
    color: '160, 54, 54',
    alpha: 1
  ),
  link-base-decoration: 'none',
  link-hover: (
    color: '160, 54, 54',
    alpha: 1
  ),
  link-hover-decoration: 'underline',
  link-active: (
    color: '160, 54, 54',
    alpha: 1
  ),
  link-active-decoration: 'underline',
  link-visited: (
    color: '114, 39, 39',
    alpha: 1
  ),
  slidepad-opacity: 0.95,
  slidepad-back: (
    color: '191, 176, 147',
    alpha: 0.25
  ),
  slidepad-front: (
    color: '238, 235, 235',
    alpha: 1
  ),
  slidepad-back-shadow: (
    color: '115, 86, 50',
    alpha: 0.3
  ),
  slidepad-front-shadow: (
    color: '115, 86, 50',
    alpha: 0.75
  ),
  loader-primary: (
    color: '108, 91, 91',
    alpha: 1
  )
);

@include theme-template($colors, 'brown');
