@charset 'utf-8';
@import '../mixin/theme.scss';

$theme-dark: (
  meta-theme-version: '"0.0.1-beta"',
  meta-theme-namespace: '"carotin_novel"',
  meta-theme-id: '"dark"',
  meta-theme-name: '"ダーク"',
  meta-theme-description: '"黒背景・白文字のテーマ"',
  meta-theme-author: '"@noonworks"',
  meta-theme-href: '"https://noonworks.github.io/carotin-novel/"',
  meta-theme-license: '"MIT"',
  background-base: (
    color: '42, 42, 42',
    alpha: 1
  ),
  text-base: (
    color: '252, 252, 252',
    alpha: 1
  ),
  link-base: (
    color: '56, 168, 255',
    alpha: 1
  ),
  link-base-decoration: 'none',
  link-hover: (
    color: '106, 190, 255',
    alpha: 1
  ),
  link-hover-decoration: 'underline',
  link-active: (
    color: '106, 190, 255',
    alpha: 1
  ),
  link-active-decoration: 'underline',
  link-visited: (
    color: '255, 97, 97',
    alpha: 1
  ),
  slidepad-opacity: 0.95,
  slidepad-back: (
    color: '252, 252, 252',
    alpha: 0.25
  ),
  slidepad-front: (
    color: '42, 42, 42',
    alpha: 1
  ),
  slidepad-back-shadow: (
    color: '42, 42, 42',
    alpha: 0.7
  ),
  slidepad-front-shadow: (
    color: '42, 42, 42',
    alpha: 1
  ),
  loader-primary: (
    color: '252, 252, 252',
    alpha: 1
  ),
  menu-base: (
    color: '42, 42, 42',
    alpha: 1
  ),
  menu-text: (
    color: '252, 252, 252',
    alpha: 1
  ),
  menu-shadow-base: (
    color: '252, 252, 252',
    alpha: 0.2
  ),
  menu-shadow-line: (
    color: '252, 252, 252',
    alpha: 0.8
  ),
  menu-border: (
    color: '252, 252, 252',
    alpha: 0.5
  ),
  menu-ripple: (
    color: '252, 252, 252',
    alpha: 1
  ),
  menu-link-base: (
    color: '56, 168, 255',
    alpha: 1
  ),
  menu-link-base-decoration: 'none',
  menu-link-hover: (
    color: '106, 190, 255',
    alpha: 1
  ),
  menu-link-hover-decoration: 'underline',
  menu-link-active: (
    color: '106, 190, 255',
    alpha: 1
  ),
  menu-link-active-decoration: 'underline',
  menu-link-visited: (
    color: '255, 97, 97',
    alpha: 1
  )
);

@include theme-template($theme-dark, 'dark');
