@charset 'utf-8';

$main-wrapper-selector: 'div.content_wrapper';
$custom-ruby-selector: '.custom_ruby ' #{$main-wrapper-selector};
$self-fonts: 'Yu Mincho', YuMincho, 'Hiragino Mincho ProN',
  'Hiragino Mincho Pro', 'HGP明朝B';

//
// Colors
//
$background-base-color: define-theme-color('background-base');
$background-overlay-shadow-color: define-theme-color(
  'background-overlay-shadow'
);
$text-base-color: define-theme-color('text-base');
$link-base-color: define-theme-color('link-base');
$link-base-decoration: define-theme-value('link-base-decoration');
$link-hover-color: define-theme-color('link-hover');
$link-hover-decoration: define-theme-value('link-hover-decoration');
$link-active-color: define-theme-color('link-active');
$link-active-decoration: define-theme-value('link-active-decoration');
$link-visited-color: define-theme-color('link-visited');
$slidepad-opacity: define-theme-value('slidepad-opacity');
$slidepad-back-color: define-theme-color('slidepad-back');
$slidepad-front-color: define-theme-color('slidepad-front');
$slidepad-back-shadow-color: define-theme-color('slidepad-back-shadow');
$slidepad-front-shadow-color: define-theme-color('slidepad-front-shadow');
$loader-primary-color: define-theme-color('loader-primary');

//
// margines
//
$page-margin-top: 3vh;
$page-margin-bottom: 4vh;
$page-margin-right: 3em;
$page-margin-left: 3em;

$margin-header-footer: 2.5rem;

$margin-paragraph: 1.5rem;
