@charset 'utf-8';
@import '../mixin/font.scss';

/*
# GenEiKoburiMin6-R-demo.woffについて

[「源暎こぶり明朝」](http://okoneya.jp/font/)のサブセットです。

[SIL Open Font License 1.1](http://osdn.jp/projects/opensource/wiki/SIL_Open_Font_License_1.1)に基づき、改変（文字数の削減）しています。

改変内容： デモページで使用しない文字を削除しています。
*/

@font-face {
  font-family: 'GenEiKoburiMin6-R-demo';
  src: url('./GenEiKoburiMin6-R-demo.woff2') format('woff2');
}

$font-GenEiKoburiMin6-R-demo: (
  id: 'GenEiKoburiMin6Rdemo',
  name: 'サブセットこぶり明朝',
  description: '源暎こぶり明朝のデモ用サブセット',
  family: 'GenEiKoburiMin6-R-demo',
  type: 'serif',
  small: 16px,
  large: 18px,
  height: 1.5,
  spacing: 0.02em,
  custom-ruby: (
    size: 0.4em,
    margin-right: -0.8em
  )
);

@include font-template($font-GenEiKoburiMin6-R-demo);
