@charset 'utf-8';

$font-sans-serif: (
  id: 'sansserif',
  name: 'システムゴシック',
  description: 'システム標準のゴシック体',
  family: '',
  type: 'sans-serif',
  small: 16px,
  large: 18px,
  height: 1.5,
  spacing: 0.02em,
  custom-ruby: (
    size: 0.4em,
    margin-right: -0.8em
  )
);
