@charset "utf-8";

div.content_wrapper [data-ruby] {
  position: relative;
}

div.content_wrapper [data-ruby]::before {
  content: attr(data-ruby);
  white-space: nowrap;
  position: absolute;
  min-height: 100%;
  text-align: center;
}

div.content_wrapper ruby rt {
  display: none;
}
