$menu-slider-size: 80px;
$menu-slider-height: 14px;
$menu-radius: 4px;

div.menu-back {
  position: absolute;
  box-sizing: border-box;
  display: block;
  width: calc(100% + #{$menu-radius});
  height: 100%;
  margin-right: $menu-radius * -1;
  background-color: $menu-base-color;
  filter: drop-shadow(0 0 4px $menu-shadow-base-color)
    drop-shadow(0 0 1px $menu-shadow-line-color);
  border-radius: 0 $menu-radius $menu-radius 0;
  opacity: 0.9;

  div.menu-slide {
    position: absolute;
    top: calc((100% - #{$menu-slider-size}) / 2);
    right: 0;
    bottom: auto;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    width: $menu-slider-size;
    height: $menu-slider-size;
    margin-right: $menu-slider-height * -1;
    background-color: $menu-base-color;
    border-radius: $menu-slider-size / 2;

    i {
      margin-right: $menu-slider-height - 10px;
      font-size: 1.5em;
      line-height: 1em;
      opacity: 0.25;
    }
  }

  &.bottom {
    div.menu-slide {
      top: auto;
      bottom: 2em;
    }
  }

  &.top {
    div.menu-slide {
      top: 2em;
      bottom: auto;
    }
  }
}
