div.menu-content-wrapper {
  position: absolute;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 1em;
  overflow: auto;
  font-family: $Noto-serif;

  div.menu-content {
    position: absolute;
    max-width: 90%;
    visibility: hidden;
    opacity: 0;
    transition-timing-function: linear;
    transition-duration: 300ms;

    &.on {
      visibility: visible;
      opacity: 1;
    }

    a {
      color: $menu-link-base-color;
      text-decoration: $menu-link-base-decoration;

      &:hover {
        color: $menu-link-hover-color;
        text-decoration: $menu-link-hover-decoration;
      }

      &:active {
        color: $menu-link-active-color;
        text-decoration: $menu-link-active-decoration;
      }

      &:visited {
        color: $menu-link-visited-color;
      }
    }

    div.menu_center {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    @import './title.scss';
    @import './list.scss';
    @import './settings.scss';
  }

  div.menu-top {
    margin-bottom: 1rem;
  }
}
