div.menu {
  position: fixed;
  top: 0;
  right: 0;
  z-index: $Z_INDEX_MENU;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  margin-right: 100vw;
  overflow: visible;
  color: $menu-text-color;
  transition-timing-function: linear;
  transition-duration: 300ms;
  transform: translate3d(0, 0, 0);
  // Larger devices
  @include mq() {
    height: 100vh;
    transition-timing-function: cubic-bezier(0, 0, 0.4, 1);
    transition-duration: 700ms;
  }

  &.on {
    margin-right: 0;
  }

  @import './back.scss';
  @import './content.scss';
}
