@charset "utf-8";

.custom_ruby div.content_wrapper rb[data-ruby] {
  position: relative;
}

.custom_ruby div.content_wrapper rb[data-ruby]::before {
  content: attr(data-ruby);
  white-space: nowrap;
  position: absolute;
  min-height: 100%;
  text-align: center;
  font-feature-settings: normal;
}

.custom_ruby div.content_wrapper ruby rt {
  display: none;
}
