@charset 'utf-8';

p {
  margin: 0;
  &.fullspace-indent {
    text-indent: 1em;
  }
}

section {
  margin: 0;
  margin-left: $margin-paragraph;
  &:last-child {
    margin-left: 0;
  }
  + footer {
    margin-right: $margin-header-footer - $margin-paragraph;
  }
}
